<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Potato</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<style>
  .tooltip.show p {
      width: 400px;
      text-align:left;
  }
  .tooltip-inner {
      max-width: 450px;
      /* If max-width does not work, try using width instead */
      width: 450px;
      text-align:left;
  }  
</style>

<body>



        <input type="hidden" name="firstname" id="firstname" value="{{firstname}}">
        <input type="hidden" name="lastname" id="lastname" value="{{lastname}}">
        <input type="hidden" name="instance_id" id="instance_id" value="{{instance_id}}">

        <script>
          document.addEventListener('keyup', function (event) {
              //first check whether this keyboard input is a shortcut for checkboxes
              var checkboxes = document.querySelectorAll('input[type=checkbox]')
              var x = event.key.toLowerCase();

              for (var i = 0; i < checkboxes.length; i++) {
                  //alert(checkboxes[i].value)
                  if(x === checkboxes[i].value){
                      checkboxes[i].checked = !checkboxes[i].checked;
                      if (checkboxes[i].onclick != null) checkboxes[i].onclick.apply(checkboxes[i]);
                      return;
                  };
              }

              // Each time we process a user's key presses, track who is doing
              // it by grabbing the hidden firstname and lastname fields
              new_stories(event, document.getElementById('firstname').value,
                          document.getElementById('lastname').value)
              
          });
        </script>


        <script>
			function onlyOne(checkbox) {
			    // this function is used for the single-choice setting
				//alert(checkbox.className)
			    var x = document.getElementsByClassName(checkbox.className);
			    var i;
				for (i = 0; i < x.length; i++) {
				  if(x[i].value != checkbox.value) x[i].checked = false;
				}
			}
		</script>

        <script>
          function click_to_next() {
              // Gacky code to simulate the submit button as a keyboard event
              // and not have two separate paths to handle keyboard and mouse
              // events
              var e = $.Event('keyup');
              e.key = "ArrowRight";
              
              new_stories(e, document.getElementById('firstname').value,
                          document.getElementById('lastname').value)
          } 
        </script>
        
        {{annotation}}
        
        <script>
            window.onunload = check_close;
            function check_close() {
                 console.error("session closed");
                var post_req = {
                    is_close: "closed"
                }
                post(post_req);
            }
        </script>

        
        <script>
            // We submit a new post to the same (user/namepoint) endpoint
            function post(params) {
                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "namepoint");
                
                for (var key in params) {
                    if (params.hasOwnProperty(key)) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", key);
                        hiddenField.setAttribute("value", params[key]);
                        
                        form.appendChild(hiddenField);
                    }
                }

                // Stuff all the 
                $('form input, form select').each(
                    function(index){  
                        var input = $(this);
                        if (input.attr('type') != 'checkbox') {
                            return
                        }


                        if (input.is(":checked")) {
                            // Stuff all the input fields into something for the post
                            var hiddenField = document.createElement("input");
                            hiddenField.setAttribute("type", "hidden");
                            hiddenField.setAttribute("name", input.attr('name'));
                            hiddenField.setAttribute("value", input.is(":checked"));
                            form.appendChild(hiddenField);
                        }
                    }
                );
                document.body.appendChild(form);
                form.submit();
            }
 
            function new_stories(event, firstname, lastname) {
                var x = event.key;
                // if (event.target.id == "go_to") return
                var action = ""
                var ism = ""

                //console.log(x)
                //console.log(firstname)
                //console.log(lastname)
                if (x == "ArrowLeft") { // Spacebar
                    action = "prev_instance";
                }
                else if (x == "ArrowRight") {
                    action = "next_instance";
                }
                else {
                    console.log("Unknown key press", event)
                    return
                }

                
                var instance_id = document.getElementById('instance_id').value
                var post_req = {
                    firstname: firstname,
                    lastname: lastname,
                    label: ism,
                    src: action,
                    instance_id: instance_id
                }

                post(post_req)

            }

        </script>

        <script>
          $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
          });
        </script>
        
         
  
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand mr-3">Immigration Framing</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">Home</a>
                <a href="https://docs.google.com/document/d/1eXgaOZJDahhZLqYWbLTD_84-d1rnQ4M-bccer3HY6WI" class="nav-item nav-link">Annotation Codebook</a>
                <a href="#" class="nav-item nav-link disabled">Statistics</a>
                <a href="#" class="nav-item nav-link disabled">Help</a>
            </div>
            <div class="p-2 bd-highlight text-secondary align-middle">
              Finished {{finished}}/{{total_count}}
            </div>
            <div class="p-2 bd-highlight text-secondary align-middle">
              Current_id {{instance_id}}
            </div>
            <div class="p-2 bd-highlight text-secondary align-middle">
                <form action="/user/namepoint" method="post">
                <fieldset>
                    <input type="hidden" name="firstname" id="a" value="{{firstname}}">
                    <input type="hidden" name="lastname" id="b" value="{{lastname}}">
                    <input type="hidden" name="src" id="src" value="go_to">
                    <input type="number" name="go_to" id="go_to" value="" onfocusin="user_input()" onfocusout="user_input_leave()" max={{total_count}} min=0 required>
                    <input type="submit" value="go">
                </fieldset>
                </form>
            </div>
            <div class="navbar-nav ml-auto">
              <div class="text-secondary align-middle">Currently logged in as {{firstname}} {{lastname}}</div>
            </div>
        </div>
    </div>    
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
          <h2>Instance</h2>
          <div name="instance_text">{{instance}}</div>
        </div>
        <div class="col-md-6">
          <h2>Annotation Scheme</h2>
          <table><tr>
<td valign="top" style="padding: 0 20px 0 0;">
<form action="/action_page.php">  <fieldset>  <legend>Issue-General:</legend>  <input class="Issue-General" type="checkbox" id="Economic" name="Issue-General|||Economic" value="1" onclick="onlyOne(this)">  <label for="Issue-General|||Economic" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
  <li> Costs, benefits, financial implications (to an individual, family, organization, community or the whole economy) 
  <li> Effect of policy issues on trade, markets, wages, (un)employment, specific industries or businesses
  <li> Anything about money, funding, or taxes
  <li> Immigrants receiving economic benefits, social security, welfare, “free handouts”, or being “freeloaders”
  <li> Employment and workers (not job ads, which are irrelevant)
  <li> Socio-economic class (working-class, middle-class)
  <li> Employers that (illegally) hire undocumented immigrants
  <li> Labor shortages (also gets resources frame)
  <li> Trade deals (also gets external and policy frames)
  <li> Tax reform (also gets policy frame)
</ul>
">Economic</label><br/>  <input class="Issue-General" type="checkbox" id="Capacity and Resources" name="Issue-General|||Capacity and Resources" value="2" onclick="onlyOne(this)">  <label for="Issue-General|||Capacity and Resources" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
  <li>The availability/lack of time, physical, geographical, human, and financial resources.Think of this frame as there being “not enough” or “enough” of something
  <li>Focus on availability/scarcity/surplus of physical resources (farmland, schools, housing, hospitals, etc.), human resources (law enforcement, engineers, doctors, etc.) or financial resources (availability of credit, funds, etc.)
  <li>Labor shortages (also economic)
  <li>Not enough money to fund something (also economic)
  <li>Supply/demand of employees and staff (also economic)
  <li>Lack/provisions of natural resources (e.g. water)
  <li>Availability of specialized labor (e.g. doctors and engineers)
</ul>
">Capacity and Resources</label><br/>  <input class="Issue-General" type="checkbox" id="Morality and Ethics" name="Issue-General|||Morality and Ethics" value="3" onclick="onlyOne(this)">  <label for="Issue-General|||Morality and Ethics" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
  <li>Any perspective compelled by religious doctrine or interpretation, duty, honor, righteousness or any other sense of ethics or social responsibility (religious or secular) 
  <li>Anything related to religion except when describing immigrants' backgrounds (would be cultural identity)
  <li>General moral imperatives to help others
  <li>Appeals that something “is just the right thing to do” or arguing against something with “I don’t think it’s right” 
  <li>Humanitarian crises
  <li>Discussions of harming innocent children and family separations only if there is a clear value judgment 
  <li>References to Nazis, concentration camps, slavery, etc as moral critique of policy
</ul>
">Morality and Ethics</label><br/>  <input class="Issue-General" type="checkbox" id="Fairness and Equality" name="Issue-General|||Fairness and Equality" value="4" onclick="onlyOne(this)">  <label for="Issue-General|||Fairness and Equality" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
  <li>The fairness, equality, or inequality with which laws, punishment, rewards, and resources are applied or distributed among individuals or groups. 
  <li>Discrimination, racism, xenophobia, classism, etc. 
  <li>Claims that somebody hates certain groups
  <li>Freedom of movement (abbrev. FoM)
  <li>Immigrants receive unfair privileges
  <li>Immigrants are treated better than citizens/other groups.
  <li>It’s unfair that legal immigrants went through the process and illegal immigrants don’t
</ul>
">Fairness and Equality</label><br/>  <input class="Issue-General" type="checkbox" id="Legality, Constitutionality, Jurisdiction" name="Issue-General|||Legality, Constitutionality, Jurisdiction" value="5" onclick="onlyOne(this)">  <label for="Issue-General|||Legality, Constitutionality, Jurisdiction" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Legal, constitutional, or jurisdictional aspects of an issue. 
	<li>Court cases and existing laws that regulate policies
	<li>Constitutional interpretation or potential revisions
	<li>Which governing body is in charge of a policy decision 
	<li>Facing prosecution (also crime)
	<li>Legal documentation (licenses, visas, green card, etc.)
	<li>Seeking asylum or granting amnesty
	<li>Citizenship status or process of obtaining citizenship
</ul>
">Legality, Constitutionality, Jurisdiction</label><br/>  <input class="Issue-General" type="checkbox" id="Crime and Punishment" name="Issue-General|||Crime and Punishment" value="6" onclick="onlyOne(this)">  <label for="Issue-General|||Crime and Punishment" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Breaking the rules and/or getting punished
	<li>Any crime (both committed by and targeted at immigrants)
	<li>Anything about deportations, detention, sanctuary cities
	<li>Prosecution, sentences in court (also legality)
	<li>Terrorism does NOT cue crime, but arrests of terrorists does
	<li>Undocumented immigrants voting in elections (also political)
	<li>Increases or reductions in crime levels
</ul>">Crime and Punishment</label><br/>  <input class="Issue-General" type="checkbox" id="Security and Defense" name="Issue-General|||Security and Defense" value="7" onclick="onlyOne(this)">  <label for="Issue-General|||Security and Defense" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Any threat to a person, group, or nation
	<li>Any defense that needs to be taken to avoid that threat
	<li>General need for greater security
	<li>Anything about the border
	<li>Securing the border with a fence or wall
	<li>“Crossings” or “illegal crossings” (referring to borders)
	<li>Terrorism or risk of immigrants being terrorists
	<li>Invasions or descriptions of immigrants as invaders
	<li>Open (door) or (un)controlled immigration (also policy)
	<li>Death threats or other violent threats
</ul>">Security and Defense</label><br/>  <input class="Issue-General" type="checkbox" id="Health and Safety" name="Issue-General|||Health and Safety" value="8" onclick="onlyOne(this)">  <label for="Issue-General|||Health and Safety" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Potential health and safety outcomes of any policy issue
	<li>Health care, illness, disease, sanitation, obesity, mental health, medicine, vaccines, infrastructure/building safety
	<li>Medical and health organizations (e.g. CDC, NHS)
	<li>Physical harm (incl. caused by violent crime)
	<li>Mentions of refugees
	<li>Immigrants suffering during journey to host country or from unsafe/unsanitary conditions in detention centers
</ul>">Health and Safety</label><br/>  <input class="Issue-General" type="checkbox" id="Quality of Life" name="Issue-General|||Quality of Life" value="9" onclick="onlyOne(this)">  <label for="Issue-General|||Quality of Life" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>The effects of a policy on people's wealth (also economic), mobility, access to resources, happiness, social structures, ease of day-to-day routines, quality of community life, etc.
	<li>General hardship that immigrants face after arriving in host country (e.g. terrible wages, bad working conditions)
	<li>Actions (e.g. working long hours) to improve family's quality of life (e.g. giving children educational opportunities)
	<li>Needing or being on food stamps
</ul>">Quality of Life</label><br/>  <input class="Issue-General" type="checkbox" id="Cultural Identity" name="Issue-General|||Cultural Identity" value="0" onclick="onlyOne(this)">  <label for="Issue-General|||Cultural Identity" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Cultural norms, trends, values, customs, stereotypes
	<li>Demographics, census, population, numbers of immigrants
	<li>What types of immigrants (origin, ethnicity, religion, etc.)
	<li>Being a nation of immigrants, long history of immigration
	<li>Integration/assimilation efforts (e.g. ESL) or lack thereof
	<li>A nation’s values (and possibly destroying those values)
	<li>Artwork (books, songs, etc.) depicting immigrant experience
	<li>Stories of individual immigrants throughout history
	<li>Music/entertainment/foods that immigrants enjoy or produce
	<li>Celebrity endorsements for policy issues
</ul>">Cultural Identity</label><br/>  <input class="Issue-General" type="checkbox" id="Public Sentiment" name="Issue-General|||Public Sentiment" value="q" onclick="onlyOne(this)">  <label for="Issue-General|||Public Sentiment" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>The public’s opinion, polls, general social attitudes, 
	<li>Protests, demonstrations, riots, strikes, etc. 
	<li>Sharing petitions, encouraging people to take political action
	<li>“Millions of people” or “most of the country” support policy
	<li>References to a party’s base or constituency (also Political)
	<li>Interest groups representing part of population (e.g. NRA)
</ul>
">Public Sentiment</label><br/>  <input class="Issue-General" type="checkbox" id="Political Factors and Implications" name="Issue-General|||Political Factors and Implications" value="w" onclick="onlyOne(this)">  <label for="Issue-General|||Political Factors and Implications" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>  
	<li>Any political considerations surrounding an issue
	<li>Mentions of politicians, parties, governing bodies (e.g. Congress), political organizations (e.g. DNC), partisan politics (e.g. the left)
	<li>Elections and voting (both general and congressional)
	<li>Bills passing or being defeated (implies vote was taken)
	<li>Political debates (including hashtags like #DebateNight)
	<li>Political agendas, lobbying, or campaigning
	<li>Gerrymandering (also fairness)
</ul>">Political Factors and Implications</label><br/>  <input class="Issue-General" type="checkbox" id="Policy Prescription and Evaluation" name="Issue-General|||Policy Prescription and Evaluation" value="e" onclick="onlyOne(this)">  <label for="Issue-General|||Policy Prescription and Evaluation" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Existing or proposed policies, whether hypothetical policies will work or existing policies are effective. 
	<li>What the rules (laws/regulations) are, will be, or should be
	<li>Congressional legislation, executive orders
	<li>Deportation policy (also crime)
	<li>Proposals/actions to build border wall (also security) 
	<li>Trade deals (also external and economic)
	<li>Brexit, America First

</ul>">Policy Prescription and Evaluation</label><br/>  <input class="Issue-General" type="checkbox" id="External Regulation and Reputation" name="Issue-General|||External Regulation and Reputation" value="r" onclick="onlyOne(this)">  <label for="Issue-General|||External Regulation and Reputation" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>External relations between nations or states/provinces
	<li>Regulations/agreements between nations or governments 
	<li>Perception/reputation of one nation/state/group by another
	<li>Comparisons of policy outcomes between different regions 
	<li>Interstate or international efforts to achieve policy goals 
	<li>How one entity (city/state/nation) might influence another
	<li>Trade deals (also economic and policy)
</ul>">External Regulation and Reputation</label><br/>  <input class="Issue-General" type="checkbox" id="None" name="Issue-General|||None" value="Issue-General|||None" onclick="onlyOne(this)">  <label for="Issue-General|||None" >None</label><br/>  </fieldset>
</form>

</td>
<td valign="top" style="padding: 0 20px 0 0;">
<form action="/action_page.php">  <fieldset>  <legend>Issue-Specific:</legend>  <input type="checkbox" id="Victim: Global Economy" name="Issue-Specific|||Victim: Global Economy" value="Issue-Specific|||Victim: Global Economy">  <label for="Issue-Specific|||Victim: Global Economy" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Economic motives for immigrants to leave home countries
	<li>Emphasizes problems of global poverty, underdevelopment, globalization, unjust Global North-South relations
	<li>Immigrants are hit hard by economic insecurity, global economic injustices, and economic crises/turmoil 
</ul>">Victim: Global Economy</label><br/>  <input type="checkbox" id="Victim: Humanitarian" name="Issue-Specific|||Victim: Humanitarian" value="Issue-Specific|||Victim: Humanitarian">  <label for="Issue-Specific|||Victim: Humanitarian" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Highlights economic, social, and political suffering
	<li>Immigrants suffer from poor living conditions, poverty, lack of health care/welfare access, traveling dangers etc. 
	<li>Immigrants have difficulties adapting to their host society
	<li>Emphasis on immigrants being vulnerable 
	<li>Comparisons to Nazis, concentration camps, slavery, etc. 
</ul>
">Victim: Humanitarian</label><br/>  <input type="checkbox" id="Victim: War" name="Issue-Specific|||Victim: War" value="Issue-Specific|||Victim: War">  <label for="Issue-Specific|||Victim: War" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>War as a reason that immigrants leave countries of origin. 
	<li>Immigrants are attacked in wars/named violent conflicts.
	<li>Host countries have obligation to help, because they created these situations (e.g. bombings, failed negotiations)
</ul>">Victim: War</label><br/>  <input type="checkbox" id="Victim: Discrimination" name="Issue-Specific|||Victim: Discrimination" value="Issue-Specific|||Victim: Discrimination">  <label for="Issue-Specific|||Victim: Discrimination" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Immigrants face discrimination, xenophobia, hate crimes
	<li>Immigrants are treated unfairly or exploited by businesses
	<li>Existing laws/policies are racist, encourage racial profiling, or promote harmful stereotypes of immigrants
</ul>">Victim: Discrimination</label><br/>  <input type="checkbox" id="Hero: Cultural Diversity" name="Issue-Specific|||Hero: Cultural Diversity" value="Issue-Specific|||Hero: Cultural Diversity">  <label for="Issue-Specific|||Hero: Cultural Diversity" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Immigrants bring positive differences to a society
	<li>Positive view that society becomes more diverse in values, culture, art, etc., and that prior norms are challenged
	<li>Host is a nation of immigrants, have long immigration history
	<li>Host country benefits from multiculturalism
</ul>">Hero: Cultural Diversity</label><br/>  <input type="checkbox" id="Hero: Integration" name="Issue-Specific|||Hero: Integration" value="Issue-Specific|||Hero: Integration">  <label for="Issue-Specific|||Hero: Integration" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Positive spin on immigrants adapting to their host society
	<li>Immigrants enthusiastically adopt mainstream cultural mores or civic obligations, incl. paying taxes and military service 
	<li>Immigrants take part in work, education, society, etc.
	<li>Highlighting accomplishments of immigrants
	<li>Immigrants give their children opportunities in host country
</ul>">Hero: Integration</label><br/>  <input type="checkbox" id="Hero: Worker" name="Issue-Specific|||Hero: Worker" value="Issue-Specific|||Hero: Worker">  <label for="Issue-Specific|||Hero: Worker" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Immigrants contribute to economic prosperity and growth
	<li>Immigrants are important source of skilled/unskilled labor
	<li>Immigrants perform work that citizens will not or cannot do
</ul>">Hero: Worker</label><br/>  <input type="checkbox" id="Threat: Jobs" name="Issue-Specific|||Threat: Jobs" value="Issue-Specific|||Threat: Jobs">  <label for="Issue-Specific|||Threat: Jobs" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>	
	<li>Immigrants take nonimmigrants’ jobs or lower their wages
	<li>Immigration leads to high unemployment and low wages
	<li>Immigrants are threatening African-American jobs (in USA)
</ul>">Threat: Jobs</label><br/>  <input type="checkbox" id="Threat: Public Order" name="Issue-Specific|||Threat: Public Order" value="Issue-Specific|||Threat: Public Order">  <label for="Issue-Specific|||Threat: Public Order" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Immigrants are criminals or terrorists
	<li>Emphasize law-breaking of any kind by immigrants
	<li>Immigration poses health, safety, and environmental threats
	<li>Immigrants cluster together in areas with high social unrest
	<li>Advocate for border security to protect from public threats
	<li>Immigrants are invaders or leading invasions of host country
	<li>Undocumented immigrants voting (because it's a crime)
</ul>">Threat: Public Order</label><br/>  <input type="checkbox" id="Threat: Fiscal" name="Issue-Specific|||Threat: Fiscal" value="Issue-Specific|||Threat: Fiscal">  <label for="Issue-Specific|||Threat: Fiscal" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Immigrants abuse government social service programs
	<li>Immigrants impose a burden on taxpayers and resources such as health care/hospitals, housing, food, schools, etc
	<li>Immigrants receive benefits at the expense of others
	<li>Statements about immigrants being “treated better” 
	<li>Accusations that immigrants don’t pay taxes
	<li>Immigration threatens sustainability of the welfare state
</ul>">Threat: Fiscal</label><br/>  <input type="checkbox" id="Threat: National Cohesion" name="Issue-Specific|||Threat: National Cohesion" value="Issue-Specific|||Threat: National Cohesion">  <label for="Issue-Specific|||Threat: National Cohesion" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Immigrants bring foreign customs and values that undermine the host country’s culture or national identity
	<li>Emphasis on unassimilability, foreignness, otherness
	<li>Immigrants are diluting our culture, language, and values 
</ul>">Threat: National Cohesion</label><br/>  <input type="checkbox" id="None" name="Issue-Specific|||None" value="Issue-Specific|||None">  <label for="Issue-Specific|||None" >None</label><br/>  </fieldset>
</form>

</td>
<td valign="top" style="padding: 0 20px 0 0;">
<form action="/action_page.php">  <fieldset>  <legend>Narrative:</legend>  <input type="checkbox" id="Episodic" name="Narrative|||Episodic" value="Narrative|||Episodic">  <label for="Narrative|||Episodic" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>Specific example, case study, or event-oriented report 
	<li>Concrete information on how an event occurred and evolved
	<li>Single action that takes a short amount of time
	<li>Time-bound political events (signing a bill, debating)
	<li>How a politician talks about an issue at a particular moment
	<li>Focus on individuals, families, personal experiences/feelings 
	<li>Specific cultural artifact about immigration (book/movie/etc)
</ul>">Episodic</label><br/>  <input type="checkbox" id="Thematic" name="Narrative|||Thematic" value="Narrative|||Thematic">  <label for="Narrative|||Thematic" data-toggle="tooltip" data-html="true" data-placement="top" title="<ul>
	<li>More abstract, generic views of an event or issue
	<li>Places story in broader political, social, cultural context
	<li>Longer-term implications of a law or policy
	<li>General opinions about politicians, policy, immigrants etc.
	<li>Beliefs or long-term actions taken by political entities
	<li>How immigrants impact the economy or society 
	<li>Focus on demographics or demographic trends 
</ul>">Thematic</label><br/>  <input type="checkbox" id="None" name="Narrative|||None" value="Narrative|||None">  <label for="Narrative|||None" >None</label><br/>  </fieldset>
</form>

</td>
</tr></table>
          <p>
            <div class="text-center"><a class="btn btn-secondary" href="#" role="button" onclick="click_to_next()">Submit</a></div>
          </p>
        </div>
    </div>
    <hr>
    <footer>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; 2020 Blablablab</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#" class="text-dark">Fork on GitHub</a> 
                <span class="text-muted mx-2">|</span> 
                <a href="#" class="text-dark">Cite Us</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
