task_dir: ".."
port: 9001
server_name: potato annotator
annotation_task_name: Sentiment Analysis
output_annotation_dir: annotation_output/
output_annotation_format: tsv
annotation_codebook_url: ''
data_files:
- data_files/toy-example-with-suggested-labels.json
item_properties:
  id_key: id
  text_key: text
  context_key: context
user_config:
  allow_all_users: false
  authorized_users:
  - pedropei@umich.edu
alert_time_each_instance: 10000000
annotation_schemes:
- annotation_type: multiselect
  name: sentiment
  description: What kind of sentiment does the given text hold?
  labels:
  - positive
  - neutral
  - negative
  sequential_key_binding: true
  label_suggestions: highlight
- annotation_type: text
  name: explanation
  description: Why do you think so?
  textarea:
    'on': true
    rows: 2
    cols: 40
  label_suggestions: prefill
site_dir: default
