<!DOCTYPE html>
<html>
<body>

    <h4>Name</h4>
    <p>Enter in your first and last name here</p>

    <form action="/user/namepoint" method="post">
        <fieldset>
            <legend>name:</legend>
            First name:<br>
            <input name="firstname" id="first" value="FirstName">
            <br>
            Last name:<br>
            <input name="lastname" id="last" value="LastName">
            <input type="hidden" name="src" id="source_msg" value="home">
            <input type="hidden" name="ism" id="ism_msg" value="home">
            <br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

</body>
</html>
