<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        <div name="context_text" class="instance">

          <div name="instance_text">
            {{instance}} <br/>
          </div>
                    
          <div name="instance_text">
            {{my_kwarg}} 
          </div>            
        </div>
      </div>
    </div>
    
    <div style="height: 15px;" />

    {{my_other_kwarg}}

    <div style="height: 15px;" />
    
    <div class="col-md-12">
      <div class="annotation_schema">
        {{annotation_schematic}}
      </div>
    </div>
  </div>
</div>
